<!DOCTYPE html>
<html>
  <head>
    <title>SearchTics</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container">
      <% if flash[:notice].present? %>
        <p class="w-11/12 max-w-2xl p-5 mx-auto text-center text-green-600 bg-green-100 animate-fade-out notice alert"><%= notice %></p>
      <% end %>
      <% if flash[:alert].present? %>
        <p class="w-11/12 max-w-2xl p-5 mx-auto text-center text-yellow-600 bg-yellow-100 animate-fade-out alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
