<!DOCTYPE html>
<html>
  <head>
    <title>SearchTics</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container">
    <% if user_signed_in? %>
      <div class="flex justify-between">
        <%= link_to 'Sign out', 
          destroy_user_session_path, 
          data: { turbo_method: :delete }, 
          class: "rounded-lg py-2 px-3 bg-blue-600 text-white inline-block font-medium m-5"
        %>
        
        <% if current_user.admin? %>
          <%= link_to 'See Analytics', 
            analytics_path, 
            class: "rounded-lg py-2 px-3 bg-blue-600 text-white inline-block font-medium m-5"
          %>
        <% end %>
      </div>
    <% end %>
      <% if flash[:notice].present? %>
        <p class="w-11/12 max-w-2xl p-5 mx-auto text-center text-green-600 bg-green-100 animate-fade-out notice alert"><%= notice %></p>
      <% end %>
      <% if flash[:alert].present? %>
        <p class="w-11/12 max-w-2xl p-5 mx-auto text-center text-yellow-600 bg-yellow-100 animate-fade-out alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
